<p>
	<label for="settings_slack_url">Slack API URL</label>
	<input type="text" id="settings_slack_url" size=80 value="<%= settings['slack_url'] %>" name="settings[slack_url]" />
</p>

<p>
	<label for="settings_channel">Slack Channel</label>
	<input type="text" id="settings_channel" value="<%= settings['channel'] %>" name="settings[channel]" />
</p>

<p>
	<label for="settings_username">Slack Username</label>
	<input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>
